@import '../common/function';

.editor {
  &-dialog {
    z-index:1101;

    &-json {
      width:640px;
      height:400px;

      .jsonviews {
        height:100%;

        >div:first-child {
          margin-right:0;
        }
      }
    }
  }
}