@import '../common/function';

.page {
  margin:0;
}

.w174 {
    width:174px;
}

.operations {
  margin-bottom:10px;
}

.button-group {
  >.rui-button {
    border-radius:0 0;
    border-right:0px;
    margin-left:0;
  }

  .rui-button:first-child {
    border-radius:6px 0 0 6px;
  }

  .rui-button:last-child {
    border-right:1px solid $border;
    border-radius:0 6px 6px 0;
  }
}

.dialog-open-row {
  width:415px;
  label {
    line-height:32px;
  }
}

.page-layout {
  display:flex;
  flex-direction: row;
  height:100%;

  .topbar {
      width:100%;
      text-align:center;
      margin:0 auto;
      padding:10px 0;
      position:fixed;
      z-index:1001;
      bottom:0;
      background:rgba(0, 0, 0, 0.25);
  }

  .menu-left {
    position:fixed;
    z-index:100;
    top:44px;
    left:0;
    padding:10px;
    width:198px;
    height:100%;
    background: #efefef;
    border-right:1px solid $border;
    overflow-y:auto;
    overflow-x:hidden;

    &.preview {
        left:-218px;
    }

    transition: left 0.3s ease;
  }

  .content {
    background:#fefefe;
    flex:1;
    margin:10px 226px 10px 228px;
    width:100%;
    height:100%;

    &.preview {
        margin: 10px;
    }

    transition: margin 0.3s ease;
  }

  .menu-panel {
    margin-bottom: 10px;
  }

  .property-right {
    position:fixed;
    z-index:100;
    top:44px;
    right:0;
    padding:10px;
    width:196px;
    height:100%;
    background: #efefef;
    border-left:1px solid $border;
    overflow-y:auto;
    overflow-x:hidden;

    &.preview {
        right:-216px;
    }

    transition: right 0.3s ease;
  }
}

.header {
  position:relative;
  z-index:101;
}
